<!--<script type="text/ng-template" id="header.html">-->
<script type="text/javascript">
    angular.module('loginApp', []).controller('loginCtrl', function ($scope) {
        
    });
</script>
<nav class="navbar navbar-fixed-top" id="mainNavbar">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarCollapsePart" aria-controls="navbarCollapsePart">
                    <span class="material-icons" aria-hidden="true">menu</span>
                </div>
                <a href="#" class="navbar-brand">
                    <i class="material-icons">share</i>
                    Welcome to KUShare!
                </a>
            </div>
            <nav class="collapse navbar-collapse" id="navbarCollapsePart">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form">
                            <div class="form-group">
                                <input type="text" class="form-control col-xs-12" placeholder="Search KUShare">
                            </div>
                        </form>
                    </li>
                    <li>
                        <a href="#">
                            <i class="material-icons">storage</i>
                            Library
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="material-icons">account_circle</i>
                            <div ng-if="user!=null">
                                {{user.username}}
                            </div>
                            <div ng-if="user==null">
                                ANONYMOUS
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
<!--</script>-->
