   <nav class="navbar nav-margin navbar-fixed-top col-xs-12 col-sm-12 col-md-12 col-lg-12" id="mainNavbar" style="background-color: white">
        <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="navbar-header col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div class="navbar-toggle col-xs-3 col-sm-3" type="button" data-toggle="collapse" data-target="#navbarCollapsePart" aria-controls="navbarCollapsePart">
                    <span class="material-icons" aria-hidden="true">menu</span>
                </div>
                <div class="col-xs-7 col-sm-7">
                    <a href="#" class="navbar-brand"><i class="material-icons">shareKUSHARE</i></a>
                </div>
            </div>
            <div class="collapse navbar-collapse container-fluid col-xs-12 col-sm-12 col-md-7 col-lg-7" id="navbarCollapsePart" style="overflow-x: hidden" ng-controller="userCtrl">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form" method="get" action="/search">
                            <div class="form-group">
                                <!--<form method="post" action="/search/>-->
                                <input type="text" class="form-control col-xs-12" placeholder="Search KUShare" name="searchInfo">
                                <button class="btn btn-default" type="submit"><i class="material-icons">search</i></button>
                                <!--</form>-->
                            </div>
                        </form>
                    </li>
                    <li class="nav-divider" style="padding: 10px; background-color: transparent"></li>
                    <li>
                        <a href="#">
                            <i class="material-icons">storage</i>
                            Library
                        </a>
                    </li>
                    <li ng-model="username">
                        <a href="#">
                            <div ng-if="getUsername()!=null">
                                <i class="material-icons">account_circle</i>
                                {{getUsername()}}
                            </div>
                            <div ng-if="getUsername()==null">
                                <i class="material-icons">account_circle</i>
                                ANONYMOUS
                            </div>
                        </a>
                    </li>
                    <li class="dropdown" align="left">
                        <button class="btn btn-default dropdown-toggle" type="button"
                                data-toggle="dropdown" area-haspopup="true" aria-expanded="true">
                            <i class="material-icons">settings</i>
                        </button>
                        <div class="dropdown-menu" id="loginbox">
                            <form method="post" action="/login">
                                <div class="col-md-12">
                                    Sign in
                                    <br>
                                    <br>
                                    <input type="text" class="form-control" placeholder="Username" ng-model="username" name="username"><br>
                                    <input type="password" class="form-control" placeholder="Password" name="password"><br>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary btn-block" ng-click="saveUsername(username)" value="Sign in">
                                        <div ng-if="getUsername()==null">
                                            <button class="btn btn-primary btn-block" action="/signup">Sign Up</button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
