<script src="scripts/dataService.js"></script>
<nav class="navbar navbar-fixed-top" id="mainNavbar" style="background-color: white">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarCollapsePart" aria-controls="navbarCollapsePart">
                    <span class="material-icons" aria-hidden="true">menu</span>
                </div>
                <a href="#" class="navbar-brand">
                    <i class="material-icons">share</i>
                    Welcome to KUShare!
                </a>
            </div>
            <div class="collapse navbar-collapse container-fluid" id="navbarCollapsePart" style="overflow-x: hidden">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form">
                            <div class="form-group">
                                <input type="text" class="form-control col-xs-12" placeholder="Search KUShare">
                            </div>
                        </form>
                    </li>
                    <li class="nav-divider" style="padding: 10px; background-color: transparent"></li>
                    <li>
                        <a href="#">
                            <i class="material-icons">storage</i>
                            Library
                        </a>
                    </li>
                    <li ng-app="serviceApp" ng-controller="userServiceCtrl">
                        <a href="#">
                            <div ng-if="{{username}}">
                                <i class="material-icons">account_circle</i>
                                {{username}}
                            </div>
                            <div ng-bind="user" ng-if="{{username}}==null">
                                <i class="material-icons">account_circle</i>
                                ANONYMOUS
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>