<table class="table table-bordered" border="1" style="width:100%">
    <thead>
        <tr>
            <th>Category </th>
            <th>Subject</th>
            <th>File Name</th>
            <th>Owner</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="file in data" ng-init="">
            <td><a href='/category/{{file.categoryID}}' target="_blank">{{ file.categoryName }}</a></td>
            <td><a href={{file.subjectUrl}} target="_blank"> {{ file.subjectName }}</a> </td>
            <td><a href='/view/{{file.nameURL}}' target="_blank">{{ file.fileName }}</a> </td>
            <td><a href="#" target="_blank"> {{ file.username }}</a> </td>
        </tr>
    </tbody>
</table>