<!DOCTYPE html>
<html ng-app="catApps">
<head>
    <title>Welcome to the Library!</title>

    <!--main scripts-->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular-cookies.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular-route.min.js"></script>
    <script src="../scripts/material/js/material.min.js">
        $.material.init();
    </script>
    <script src="../scripts/material/js/ripples.min.js"></script>

    <!-- Dropdown.js -->
    <link href="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet">

    <!--other scripts-->
    <script src="../categoryApp.js"></script>

    <!-- Material Design fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.1/bootstrap-material-design.css">
    <link rel="stylesheet" type="text/css" href="../scripts/material/css/ripples.min.css">
    <style>
        #loginbox {
            min-width: 250px;
            padding: 14px 14px 0;
            overflow: hidden;
        }

        #img_container {
            width: 100%;
            position: relative;
            background-image: url(test.jpg);
            background-repeat: repeat;
            height: 1000px;
            background-size: cover;
            background-position: center center;
        }

        #inside_comp {
            position: absolute;
            right: 100px;
            top: 500px;
            color: white;
            text-shadow: rgba(0,0,0,0.8) 0 1px 3px;
            font-size: 16pt;
        }

        #header {
            background-image: url(test.jpg);
        }

        #shallowbg {
            //background-image: url(test.jpg);
        }

        #sharebtn {
            background-color: Transparent;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
        }
        .body-margin-top {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <!--Can't use HeaderCtrl because controller keeps calling-->
    <nav class="navbar nav-margin navbar-fixed-top col-xs-12 col-sm-12 col-md-12 col-lg-12" id="mainNavbar" style="background-color: white">
        <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="navbar-header col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div class="navbar-toggle col-xs-3 col-sm-3" type="button" data-toggle="collapse" data-target="#navbarCollapsePart" aria-controls="navbarCollapsePart">
                    <span class="material-icons" aria-hidden="true">menu</span>
                </div>
                <div class="col-xs-7 col-sm-7">
                    <a href="/" target="_self" class="navbar-brand"><i class="material-icons">shareKUSHARE</i></a>
                </div>
            </div>
            <div class="collapse navbar-collapse container-fluid col-xs-12 col-sm-12 col-md-7 col-lg-7" id="navbarCollapsePart" style="overflow-x: hidden">
                <ul class="nav navbar-nav navbar-right" ng-controller="userCtrl" ng-init="getUsername()">
                    <li>
                        <form class="navbar-form" method="get" action="/search">
                            <div class="form-group">
                                <!--<form method="post" action="/search/>-->
                                <input type="text" class="form-control col-xs-12" placeholder="Search KUShare" name="searchInfo">
                                <button class="btn btn-default" type="submit"><i class="material-icons">search</i></button>
                                <!--</form>-->
                            </div>
                        </form>
                    </li>
                    <li class="nav-divider" style="padding: 10px; background-color: transparent"></li>
                    <li>
                        <a href="/browse" target="_self">
                            <i class="material-icons">storage</i>
                            Library
                        </a>
                    </li>
                    <li>
                        <a href="/profile" target="_self" ng-if="username!='ANONYMOUS'">
                            <i class="material-icons">account_circle</i>
                            {{username}}
                        </a>
                        <a href="#" ng-if="username=='ANONYMOUS'">
                            <i class="material-icons">account_circle</i>
                            ANONYMOUS
                        </a>
                    </li>
                    <li class="dropdown" align="left">
                        <button class="btn btn-default dropdown-toggle" type="button"
                                data-toggle="dropdown" area-haspopup="true" aria-expanded="true">
                            <i class="material-icons">settings</i>
                        </button>
                        <div class="dropdown-menu" id="loginbox">
                            <div ng-if="username=='ANONYMOUS'">
                                <form method="post" action="/login">
                                    <div class="col-md-12">
                                        Sign in
                                        <br>
                                        <br>
                                        <input type="text" class="form-control" placeholder="Username" ng-model="username" name="username" ng-init="username=ANONYMOUS"><br>
                                        <input type="password" class="form-control" placeholder="Password" name="password"><br>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary btn-block" value="Sign in">
                                        </div>
                                    </div>
                                </form>
                                <a href="/signup" target="_self"><button class="btn btn-primary btn-block">Sign Up</button></a>
                            </div>
                            <div ng-if="username!='ANONYMOUS'">
                                <a href="/logout" target="_parent" class="btn btn-danger form-control">logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br><br><br>
    <div class="container body-margin-top" id="shallowbg">
        <div ng-controller="showFilesBySubjectCtrl">
            <h1>In {{getSubject()}}</h1>
            <table class="table table-bordered" border="1" style="width:100%">
                <thead>
                    <tr>
                        <th>Category </th>
                        <th>Subject</th>
                        <th>File Name</th>
                        <th>Owner</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="file in data" ng-init="">
                        <td><a href='/category/{{file.categoryID}}' target="_blank">{{ file.categoryName }}</a></td>
                        <td><a href='/subject/{{file.subjectID}}' target="_blank"> {{ file.subjectName }}</a></td>
                        <td><a href='/view/{{file.fileName}}' target="_blank">{{ file.fileName }}</a></td>
                        <td>{{ file.username }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
